{% extends 'base.html' %}

{% block title %} Article | {{ article.title }} {% endblock %}


{% block content %}
<div class="container mt-3" xmlns="http://www.w3.org/1999/html">
    <h3 class="text-center">{{ article.title }}</h3>
    <div>
        {{ article.conten }}
    </div>
    <hr/>
    <div class="container">
        <h3 class="text-center">Comments</h3>
        <div class="row mt-3">
            <div class="col-md-6">
                <form action="" onsubmit="sendMessage(event)">
                    <textarea class="form-control" id="messageText" autocomplete="off"></textarea>
                    <button class="btn btn-secondary mt-2 mb-3">Send</button>
                </form>
            </div>
        </div>
        <ul id='messages'></ul>

        <div>
            <ul>
                {% for comment in article.comments %}
                <li>
                    <b>User: </b> {{ comment.user.email }}<br/>
                    <b>Comment: </b> {{ comment.text }} <br/>
                    <hr/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <script>
        let identifier = Date.now()
        let id_article = 19

        let ws = new WebSocket(`ws://localhost:8000/comment/ws/${identifier}/${id_article}`)


        ws.onmessage = function (event) {
            let data = JSON.parse(event.data)
            console.log(data)
            let messages = document.getElementById('messages')
            let message = document.createElement('li')
            if (data.status === 200) {
                message.innerHTML = `
                    <b>User: </b> ${data.user} <br/>
                    <b>Comment: </b> ${data.text} <br/>
                    <hr/>
                `
            } else {
                let error = document.createTextNode(data.error)
                message.appendChild(error)
            }
            messages.appendChild(message)
        };

        function sendMessage(event) {
            let input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
</div>
{% endblock %}